body {
  margin: 0 5%;
}

#inputs {
  text-align: center;
  padding: 10px;
  width: 480px;
  margin: auto;
}

#title {
  font-size: 55px;
  font-family:Helvetica;
  font-weight: bold;
  color: #4285F4;
  margin: 30px 0;
}

.btn {
  background-color: #4285F4;
  border: none
}

.input-group {
  display: inline-block;
}
.input-group .bootstrap-tagsinput {
  width: 330px;
  margin-bottom: 1px;
  text-align: left;
}

#slider-group {
  margin-top: 30px;
  width: 100%;
}
#slider-group>div {
  display: inline-block;
  position: relative;
  overflow: visible;
  height: 200px;
  width: 19%;
}
.slider {
  -webkit-appearance: none;
  transform: rotate(270deg);
  width: 200px !important;
  height: 20px;
  border-radius: 10px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: absolute;
  top: -100px;
  bottom: -100px;
  left: -100px;
  right: -100px;
  margin: auto;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  transform: rotate(90deg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.slider[name="sweet"]::-webkit-slider-thumb {
  background: url('../assets/sweet.png') left center/contain no-repeat !important;
}
.slider[name="salty"]::-webkit-slider-thumb {
  background: url('../assets/salty.png') left center/contain no-repeat !important;
}
.slider[name="sour"]::-webkit-slider-thumb {
  background: url('../assets/sour.png') left center/contain no-repeat !important;
}
.slider[name="bitter"]::-webkit-slider-thumb {
  background: url('../assets/bitter.png') left center/contain no-repeat !important;
}
.slider[name="umami"]::-webkit-slider-thumb {
  background: url('../assets/umami.png') left center/contain no-repeat !important;
}

#label-group>div {
  display: inline-block;
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
  color: #555;
  width: 20%;
}

button[type="submit"] {
  margin: 30px;
}

.dish-panel:hover {
  box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.2);
}
.dish-panel>.panel-heading:hover {
  cursor: pointer;
}
.dish-image {
  max-width:100%;
  max-height:100%;
}

footer {
  text-align: center;
  color: #888;
  margin-top: 20px;
}
footer p {
  margin: 0;
}