body {
  margin: 5%;
}

#inputs {
  text-align: center;
  padding: 10px;
  width: 50%;
  margin: auto;
}

#title {
  font-size: 55px;
  font-family:Helvetica;
  font-weight: bold;
  color: #4285F4;
  margin: 30px 0;
}

.topcorner {
  position: absolute;
  top: 2%;
  right: 2%;
}
.btn{
  background-color: #4285F4;
  border: none
}
.step-links a{
  color: #4285F4;
}

.autocomplete {
  position: relative;
  width: 100%;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

#slider-group {
  margin: 30px 0;
  width: 100%;
}
#slider-group>div {
  display: inline-block;
  position: relative;
  overflow: visible;
  height: 200px;
  width: 19%;
}
.slider {
  -webkit-appearance: none;
  transform: rotate(270deg);
  width: 200px !important;
  height: 20px;
  border-radius: 10px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.slider[name="sweet"]::-webkit-slider-thumb {
  background: url('../assets/sweet.png') left center/contain no-repeat !important;
}
.slider[name="salty"]::-webkit-slider-thumb {
  background: url('../assets/salty.png') left center/contain no-repeat !important;
}
.slider[name="sour"]::-webkit-slider-thumb {
  background: url('../assets/sour.png') left center/contain no-repeat !important;
}
.slider[name="bitter"]::-webkit-slider-thumb {
  background: url('../assets/bitter.png') left center/contain no-repeat !important;
}
.slider[name="umami"]::-webkit-slider-thumb {
  background: url('../assets/umami.png') left center/contain no-repeat !important;
}

.dish-panel:hover {
  box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.dish-image {
  max-width:100%;
  max-height:100%;
}