<html>
  <head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <div class="topcorner">
      <p>Project Name: {{ name }}</p>
      <p>Student Name: ({{ netid }})</p>
    </div>
    <form class="global-search">
      <h1 id="title">TasteTest</h1>
      <div class="form-row">
        <input id="input" type="text" name="search" class="form-control" placeholder="Search for ingredients here">
      </div>
      <div class="form-row slider-group">
        <input type="range" class="slider" min="0" max="10" step="1" name="sweet">
        <input type="range" class="slider" min="0" max="10" step="1" name="salty">
        <input type="range" class="slider" min="0" max="10" step="1" name="sour">
        <input type="range" class="slider" min="0" max="10" step="1" name="bitter">
        <input type="range" class="slider" min="0" max="10" step="1" name="savory">
      </div>
      <button type="submit" class="btn btn-primary">Explore</button>
    </form>
    <form class="form-inline global-search">
    {% if data %}
      <h1>{{output_message}}</h1>
      {% for d in data %}  
        <br>
        <p>{{d}}</p>
      {% endfor %}
    {% endif %}
    </form>
  </body>
</html>