<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TasteTest</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <form id="inputs" autocomplete="off">
      <h1 id="title">{{name}}</h1>
      <div class="form-row autocomplete">
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">
            Include?<input type="checkbox" name="include" checked>
          </span>
          <input type="text" id="search" class="form-control" placeholder="Search for ingredients here" name="search">
          <script>
            autocomplete(document.getElementById("search"), {{ingrs|tojson}});
          </script>
        </div>
      </div>
      <div id="slider-group" class="form-row">
        <div><input type="range" class="slider" value="0" min="0" max="10" step="1" name="sweet"></div>
        <div><input type="range" class="slider" value="0" min="0" max="10" step="1" name="salty"></div>
        <div><input type="range" class="slider" value="0" min="0" max="10" step="1" name="sour"></div>
        <div><input type="range" class="slider" value="0" min="0" max="10" step="1" name="bitter"></div>
        <div><input type="range" class="slider" value="0" min="0" max="10" step="1" name="umami"></div>
      </div>
      <button type="submit" class="btn btn-primary">Explore</button>
    </form>
    <div id="outputs">
      {% if data %}
        <p>{{output_message}}</p>
        {% for d in data %}  
          <div class="panel panel-info dish-panel">
            <div class="panel-heading">
              <h3 class="panel-title">{{d["title"]}}</h3>
            </div>
            <div class="panel-body" style="display:none">
              <div class="row">
                <div class="col-md-4">
                  <a href={{d["sourceUrl"]}} target="_blank">
                    <img src={{d["image"]}} class="img-rounded dish-image" alt="(no image)">
                  </a>
                  <div class="dish-rating">{{d["spoonacularScore"]}}</div>
                </div>
                <div class="col-md-8">
                  <ul class="list-group">
                    <li class="list-group-item active">Ingredients</li>
                    {% for i in d["extendedIngredients"] %}
                      <li class="list-group-item">{{i["originalString"]}}</li>
                    {% endfor %}
                  </ul>
                  <ul class="list-group">
                    <li class="list-group-item active">Instructions</li>
                    <li class="list-group-item">{{d["instructions"]}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <footer>
      <p>Project Name: {{name}}</p>
      <p>Created by: {{netid}}</p>
    </footer>
  </body>
</html>